@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

h1 {
  color: red;
}

.image-half-width {
  width: 50%;
}

.image-full-width, img {
  width: 100%;
}

/* Begin General Nav Bar */
/* nav * {
  font-family: Notable, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
  box-shadow:
}

ul:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

ul:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

li {
  float: left;
}

li a {
  display: block;
  color: Black;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover:not(.active) {
  background-color: slategray;
}

.active {
  background-color: darkblue;
  color: white;
} */
/* End General Nav Bar */
* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 10px;
  width: 100%;
  background: lightgray;
}

header {
  display: grid;
  grid-row-gap: 10px;
}

/* Begin Twitter Nav Bar */
.twitter ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  background: white;
  width: 90;
  margin: auto;
  height: 46px;
  padding: 0 10px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  color: rgba(117, 117, 117, 1);
  box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
}

.twitter li {
  cursor: pointer;
}

.twitter li:hover {
  color: rgba(85, 172, 238, 1);
}

.twitter li:not(:last-child):not(.twitter_bird) {
  margin-right: 10px;
}

.twitter li i:not(.fa-twitter):not(.fa-search):not(.fa-user-circle-o) {
  margin-right: 3px;
}

.twitter li>button {
  font-size: 0.8em;
  padding: 2px;
  border: 0;
  background: rgba(85, 172, 238, 1);
  color: #fff;
  border-radius: 100px;
}

.twitter_bird {
  margin-right: auto;
  margin-left: auto;
  color: rgba(85, 172, 238, 1);
  font-size: 1.3em;
}

/* End Twitter Nav Bar */
/* Begin Facebook Nav Bar */
.facebook {}

.facebook ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 0 10px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  background: rgba(59, 89, 153, 1);
  color: #fff;
  font-size: 0.9em;
  box-shadow: 5px 10px 20px -20px rgba(59, 89, 153, 1)
}

.facebook_search {
  margin-right: auto;
}

.facebook_brand i {
  font-size: 1.5em;
}

.facebook li:not(:last-child):not(:first-child):not(.facebook_search) {
  margin-right: 10px;
}

.facebook li:first-child {
  margin-right: 3px;
}

/* End Facebook navbar */
/* Begin Github navbar */
.github ul {
  display: flex;
  list-style-type: none;
  background-color: #2B3137;
  color: white;
  align-items: center;
  padding: 10px;
}

.github li:not(:last-child):not(:first-child):not(.github_pricing) {
  margin-right: 10px;
}

.github li:first-child {
  margin-right: 15px;
}

.github_pricing {
  margin-right: auto;
}

.githubSearch {
  --search_Color: #4a5259;
  padding: 7px;
  background-color: var(--search_Color);
  border-radius: 5px;
}

.githubSearch input[type="text"] {
  background-color: var(--search_Color);
  color: lightgray;
  border: none;
}

.github_signUp {
  border-radius: 2px;
  border: 2px solid white;
  padding: 5px;
}

/* End Github nav bar */
/* Begin Medium nav bar */
.medium ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 46px;
}

.medium li:not(:first-child):not(:last-child) {
  margin-right: 15px;
}

.Medium_logo {
  margin-right: auto;
}

.photoCircle {
  height: 35px;
}

.photoCircle img {
  height: inherit;
  width: auto;
  border-radius: 50%;
}

.medium .upgrade {
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.medium {
  width: 90%;
  margin: auto;
}

.Medium_logo {
  font-size: 2em;
  font-weight: 600;
}